* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

/* Remove arrows from number input on form */
#user_number::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

body {
    background-color: #e5eff5;
}

.container {
    display: flex;
    flex-direction: row;
}

.logo-side {
    width: 55vw;
    height: 100vh;
    background-image: url(pictures/logosidebackground.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-div {
    margin-bottom: 40vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 32px;
    padding-bottom: 32px;
}

.company-slogan {
    font-size: min(2vw, 2rem);
    color: white;
    margin-top: 8px;
    font-weight: 600;
}

.logo {
    width: max(75px, 2em, 20vw);
    
}


.words {
    font-size: min(1.75rem, 2vw);
    margin: 32px;
    padding-top: 8rem;
    font-weight: 600;
}

.input {
    width: 220px;
    margin-top: 4px;
    margin-bottom: 8px;
    margin-right: 32px;
    border: 1px solid lightgray;
    border-radius: 2px;
}

.column {
    display: flex;
    flex-direction: column;
    margin: 16px;
}

.row {
    display: flex;
    flex-direction: row;
}

.label {
    font-size: 0.75rem;
    font-weight: 600;
}

.form-title {
    margin: 16px;
    font-size: 1.5rem;
    font-weight: 600;
}

.form {
    background-color: white;
    width: 100%;
    padding-left: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.wantto {
    margin-top: 32px;
}
