* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

/* Remove arrows from number input on form */
#user_number::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

body {
    background-color: #e5eff5;
}

.container {
    display: flex;
    flex-direction: row;
}

.logo-side {
    width: 55vw;
    height: 100vh;
    background-image: url(pictures/logosidebackground.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-div {
    margin-bottom: 40vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 32px;
    padding-bottom: 32px;
}

.company-slogan {
    font-size: min(2vw, 2rem);
    color: white;
    margin-top: 8px;
    font-weight: 600;
}

.logo {
    width: max(75px, 2em, 20vw);
    
}


.words {
    font-size: min(1.75rem, 2vw);
    margin: 32px;
    padding-top: 8rem;
    font-weight: 600;
}

.input {
    width: 220px;
    height: 1.5rem;
    margin-top: 4px;
    margin-bottom: 8px;
    margin-right: 32px;
    border: 1px solid lightgray;
    border-radius: 2px;
}

.column {
    display: flex;
    flex-direction: column;
    margin: 16px;
}

.row {
    display: flex;
    flex-direction: row;
}

.label {
    font-size: 1rem;
    font-weight: 600;
}

.form-title {
    margin: 16px;
    font-size: 1.5rem;
    font-weight: 600;
}

.form {
    background-color: white;
    width: 100%;
    padding-left: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.wantto {
    margin-top: 32px;
}

.button {
    background-color: #1b4965;
    height: 2.5rem;
    width: 7rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    border-radius: 2px;
    margin: 16px;
    padding: 4px;
    cursor: pointer;
}

.login-text {
    margin: 16px;
    font-size: 1.25rem;
}

.login {
    cursor: pointer;
}

@media (max-width: 600px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .logo-side {
        width: 100%;
        height: 400px;
    }

    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .company-slogan {
        font-size: 2rem;
    }

    .logo {
        width: 300px;
    }
        
    .logo-div {
        margin-bottom: 0;
        margin-top: 32px;
    }

    .words {
        padding: 0;
        font-size: 1.5rem;
        margin: 64px 32px 64px 32px;
        line-height: normal;
    }

    .span1 {
        display: block;
    }

    .span2{
        display: block;
        margin-top: 8px;
    }

    .span3{ 
        display: block;
        margin-top: 16px;
    }

    .form-title {
        display: flex;
        justify-content: center;
    }

    .form {
        padding: 0;
        padding-top: 48px;
    }

    .center {
        display: flex;
        justify-content: center;
    }

    .input {
        margin: 0;
      margin-top: 4px;
      height: 2rem;
      width: 320px;
    }

    .button {
        width: 320px;
        margin-top: 32px;
    }

    .login-text {
        margin-bottom: 64px;
    }
    
    .column {
        display: flex;
        margin: 0;
    }

    .order-1 {
        order: 2;
    }
    .order-2 {
        order: 1;
    }

    .order-3 {
        order: 1;
    }
    
}