* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

/* Remove arrows from number input on form */
#user_number::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.container {
    display: flex;
    flex-direction: row;
}

.logo-side {
    width: 45vw;
    height: 100vh;
    background-image: url(/pictures/logosidebackground.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-div {
    margin-bottom: 40vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 32px;
    padding-bottom: 32px;
}

.company-slogan {
    font-size: 2rem;
    color: white;
    margin-top: 8px;
    font-weight: 600;
}

.logo {
    width: max(75px, 2em, 20vw);
    
}